@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/suisse-intl.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    font-family: 'Suisse Intl', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
}
